{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
{#    <script src="{%  static 'js/success.js' %}"></script>#}
    <title>Title</title>

</head>
<body style="text-align: center">
<div id="image_id">
    <div class="container">
        <h2>{{ message }}</h2>
    </div>
    <div class="container">
        <img src="{% static 'images/success.svg' %}" id="sucess_img">
    </div>
</div>
{#    <center id="loading" >#}
{#        <div id="loader_div">#}
{#        <div class="loader" id="loader"></div><br><br><br>#}
{#        <h2 style="color: red">Don't close... Wait for success message</h2>#}
{##}
{#    </div>#}
{#    </center>#}


</body>
</html>